.container {
  margin: 30px;
}

.blur-container {
  opacity: .5;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.mat-card-header .mat-card-title {
  font-size: 15px;
}

.pull-bottom {
  align-self: baseline;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pull-bottom > div {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: rgba(0,0,0,.87);
  width: 100%;
  font-weight: 700;
}

.currency {
  /* font-weight: 700; */
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card-small {
  width: 300px;
}

.relative {
  position: relative;
}
